<h1>Registered Potential Owners</h1>

<div class="button-wrap">
  <a href="/owner/new" class="button">Register Owner</a>
</div>

<div class="grid-row">
  <% for owner in @owners %>
  <div class="cell">
      <p><%= owner.first_name %></p>
      <p><%= owner.last_name%></p>
      <p><%= owner.address%></p>
      <p><%= owner.city%></p>
    </div>
  <% end %>
</div>
