<h1>Registered Potential Owners</h1>

<ul>
  <li><a href="/owner/new">Register Owner</a></li>
</ul>

<% for owner in @owners %>
  <p><%= owner.first_name %></p>
  <p><%= owner.last_name%></p>
  <p><%= owner.address%></p>
  <p><%= owner.city%></p>
<% end %>
