<h1>Register your details</h1>

<form action="/owner" method="POST">

  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field"/>

  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field"/>

  <label for="address-field">Address:</label>
  <input type="text" name="address" id="address-field" />

  <label for="city-field">City:</label>
  <input type="text" name="city" id="city-field" />

  <input type="submit" value="Register"/>

</form>
