<h1>Register your details</h1>

<div class="form-styles">
<form action="/owner" method="POST">

  <label for="first-name-field">First Name:</label><br>
  <input type="text" name="first_name" id="first-name-field" placeholder="Enter First Name"/><br>

  <label for="last-name-field">Last Name:</label><br>
  <input type="text" name="last_name" id="last-name-field" placeholder="Enter Last Name"/><br>

  <label for="address-field">Address:</label><br>
  <input type="text" name="address" id="address-field" placeholder="Enter Address" /><br>

  <label for="city-field">City:</label><br>
  <input type="text" name="city" id="city-field" placeholder="Enter City"/><br>

  <input type="submit" value="Register"/>

</form>
</div>
