<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Animal Shelter Scotland</title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li>About</li>
        <li><a href="/rehome">Find a Pet</a></li>
        <li><a href="/owner">Owner</a></li>
        <li><a href="/adoptions">Adoptions</a></li>
        <li>Contact Us</li>
      </ul>
    </nav>
    <div class="banner-img">
      <div class="social-media">
        <ul>
          <li><a target="_blank"  href="https://en-gb.facebook.com/" >
            <img src="../images/facebook.png" alt=""></a></li>
          <li><a target="_blank" href="https://twitter.com">
            <img src="../images/twitter.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.youtube.com/">
            <img src="../images/youtube.png" alt=""></a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
    <footer></footer>
  </body>
</html>
