<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <title></title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li>About</li>
        <li><a href="/rehome">Rehome a Pet</a></li>
        <li>Contact Us</li>
      </ul>
    </nav>
    <div class="banner-img"></div>
    <%= yield %>
    <footer></footer>
  </body>
</html>
