body {
  margin: 0px;
  padding: 0px;
  font-family:sans-serif;
}

body h1 {
  text-align:center;
  margin:40px 0px 40px 0px;
}

/* styling for the buttons */
.button-wrap {
  text-align:center;
  margin-bottom:50px;
}

.button {
  background-color:lightblue;
  border-radius:5px;
  padding:10px;
  color: white;
  font-size:20px;
  border: none;
  text-decoration: none;
}


.button:hover {
  background-color:lightgrey;
  color: blue;

}

/* styling for the navigation bar */
nav {
  height: 80px;
  background-color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  display:flex;
  margin:0px;
  padding:30px 0px 0px 0px;
}

li {
  flex:1;
  display:inline;
  font-size: 20px;
  color: blue;
  text-transform:uppercase;
}

a:visited {
  text-decoration:none;
}

/* styling for the banner area */
.banner-img {
  background-image: url(../images/banner.jpg);
  background-position:center;
  width: 100%;
  height:650px;
  position: relative;
}

/* styling for drop down on animals page */
.form-wrap{
  width:40%;
  margin:auto;
}

.form-wrap select {
    padding:5px 10px;
    width: 200px;;
    margin:10px 0px;
    border-radius:5px;
}

.form-wrap Input[type=submit]{
    padding:5px 10px;
    margin:10px 0px;
    border-radius:5px;
    background-color: white;
    border: none;
    width:50px;
}

/* styling social media links within banner*/
.social-media{
  position: absolute;
  bottom:0;
  right: 0;
  margin-bottom:10px;
}
.social-media li{
  margin:0px 10px 0px 0px;
  flex:0;
}

.social-media img{
  width:100px;
  height:100px;
}


/* styling aniaml box area */

.grid-row {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-left:5%;
}

.cell {
  width: 350px;
  margin-right: 50px;
  margin-bottom: 5%;
  background-color: lightblue;
  text-align: center;
}

.cell img{
  max-width: 100%;
}

.cell h1{
  font-size:50px;
  padding:0px;
  margin:0px;
  color: royalblue;
}

footer{
  height: 100px;
  background-color: grey;
  margin-top:100px;
}

/* styling for animal main info */

.pet-info {
  display:flex;
  max-width: 80%;
  margin:auto;
}

.pet-info-cell {
  flex:1;
  background-color: lightblue;
  padding-top:10%;
}

.pet-info-cell h2{
  margin-left:20px;
}

.pet-info-cell p{
  margin-left:20px;
}

.pet-info-cell form{
  margin-left:20px;
}

/* stying for the form */

.form-styles {
  background-color:lightblue;
  border-radius:5px;
  width:60%;
  margin:auto;
  display:flex;
  flex-direction: column;
  padding:20px;
}

input[type=text], select {
  padding:5px 10px;
  width: 50%;
  margin:10px 0px;
  border-radius:5px;
}

input[type=number] {
  padding:5px 10px;
  width: 50%;
  margin:10px 0px;
  border-radius:5px;
}

input[type=date] {
  padding:5px 10px;
  margin:10px 0px;
  border-radius:5px;
}

input[type=file] {
  margin:10px 0px;
  border-radius:5px;
}

input[type=submit] {
  padding:5px 10px;
  margin:10px 0px;
  border-radius:5px;
  background-color: white;
  border: none;
  width:15%;
}

input[type=submit]:hover {
  padding:5px 10px;
  margin:10px 0px;
  border-radius:5px;
  background-color: lightgrey;
  border: none;
}
