<h1>Register pet details</h1>

<div class="form-styles">
<form action="/rehome" method="POST">

  <label for="name-field">Name:</label><br>
  <input type="text" name="name" id="name-field" placeholder="Pet name"/><br>

  <label for="type-field">Type:</label><br>
  <input type="text" name="type" id="type-field" placeholder="Pet type"/><br>

  <label for="age-field">Age:</label><br>
  <input type="number" name="age" id="age-field" placeholder="Pet age" /><br>

  <label for="status-select">Select Adoption Status:</label><br>
    <select id="status-select" name="vet_id">
      <% @status.each do |state| %>
      <option value=<%= state.id %>> <%= state.status %></option>
      <% end %>
    </select ><br>

  <label for="date-field">Date:</label><br>
  <input type="date" name="date_entered" id="date-field" /><br>

  <input type="file" name="photo" /><br>

  <input type="submit" class="submit" value="Add Pet"/>

</form>
</div>
